$font-color: #4f5359;
$outline-color: #cfcfcf;
$highlight-color: #00bf8f;
$highlight-color-washed: #ebfff7;
$warn-color: #ba4e47;
$warn-color-washed: #ffefef;
$font-family: 'Roboto', sans-serif;
$border-radius: 5px;